.contact {
  margin: 10px;
  padding: 10px;
  border: 1px solid #bbb;
  background-color: #eee;
}

.contact span {
  font-size: 1.2em;
  text-decoration: none;
  color: #333;
}

.radio {
    margin: 10px;
    padding: 10px;
    border: 1px solid #bbb;
    background-color: #eee;
}

.radio span {
    font-size: 1.2em;
    text-decoration: none;
    color: #333;
}
.mainContent {
    position: absolute;
    margin: 20px;
    padding: 10px;
    border: 1px solid #bbb;
    background-color: #eee;
}
    .mainContent span {
        font-size: 1.4em;
        text-decoration: none;
        color: #4800ff;
    }
.hidden {
    display: none;
}

.jsonOdd{
    background: #eee;
}

